header {
  border: solid;
  border-color: #8f58dc;
  border-radius: 3px; 
  background-color: #1f0a36;
}

h1 {
  padding-left: 200px;
  border: solid;
  border-color: #8f58dc;
  border-radius: 100px 0px 100px 0px;
  flex-wrap: wrap;
  width: auto;
  height: auto;
}

.border-box{
  width: 220px;
  border-width: 3px;
  margin-left: 175px ;
  padding-left: 50px ;
  padding-right: 0px;
  justify-content: center;
}

h3 {
  text-align: end;
}

button {
  border-width: 2px;
  margin-right: 25px;
}

button:hover {
  background-color: rgba(172, 172, 189, 0.7);
  background-attachment: fixed;
}

body {
  background-color: #371c56;
  font-family: sans-serif;
}

h1, p, h4 {
    color: #edecf1;
}

.p2 {
  color: #371c56;
} 

.elem {
    height: 300px;
    width: 300px;
    border-radius: 20px;
    background-color: #f389ed;
  }

.elem:hover {
    background-color: rgba(172, 172, 189, 0.7);
    background-attachment: fixed;
  }

.container {
    background-color: #563c7a;
    height: 725px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: flex-start;
    align-content: space-around;
   }

.item {
    background-color: #D9E8FB;
    text-align: center;
    margin: 10px;
    padding: 10px;
    flex-wrap: wrap; 
   }

.elem2:hover {
  background-color: rgba(172, 172, 189, 0.7);
  background-attachment: fixed;
}  

.holder {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  background-color: #1f0a36;
  color: #371c56;
}

.item2 {
  background-color: #D9E8FB;
  text-align: center;
  margin: 10px;
  padding: 10px;
  flex-basis: 100%;
}

img {
  height: 25px;  
}

.grid-container {
  grid-template: repeat(2, 1fr) / 2;
  display: grid;
  grid-template-rows: auto;
  height: 100px;
  width: auto;
}

.grid-item {
  padding: 10px;
  margin-bottom: 5px;
  grid-column: span 2;
  text-align: center;
  background-color: #1f0a36;
  margin: 5px;
  font-family: sans-serif;
}

.wrapper {
  display: grid;
  gap: 10px;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto;
  background-color: #1f0a36;
  color: #371c56;
  padding-left: 150px;
}



nav {
  display: flex-start;
  flex-wrap: wrap; /* permettre à la grille de se répartir sur trois lignes */
  max-width: 100%; /* prend toute la largeur */
  margin: 0 auto; /* centrer la grille horizontalement */
}

section {
  flex-basis: 50%; /* chaque section prend la moitié de l'espace horizontal */
  display: flex;
  flex-direction: column; /* chaque section contient trois éléments en colonne */
  justify-content: center; /* centrer les éléments verticalement */
  align-items: start; /* centrer les éléments horizontalement */
  margin: 5px; /* ajouter une marge entre les sections */
}

a {
  flex-grow: 1; /* chaque élément <a> prend autant d'espace disponible dans la section */
  text-align: start; /* centrer le texte à l'intérieur de chaque élément <a> */
  padding: 10px; /* ajouter un espace intérieur pour le texte */
  border: 1px solid black; /* ajouter une bordure autour de chaque élément <a> */
  width: 100%; /* permettre aux éléments <a> d'occuper toute la largeur de la section */
  padding-left: 75px;
}



/* signup.html */

.grid-container {
  display: grid;
  gap: 5px;
}
.header {
  grid-column: span 2;
}

.item {
  background-color: #D9E8FB;
  text-align: center;

}